[Unit]
Description=set up node
Before=devstack@q-agt.service devstack@n-cpu.service

[Service]
EnvironmentFile=/mnt/env.file
Type=oneshot
ExecStart=/opt/stack/setup_node.sh

[Install]
WantedBy=multi-user.target
